.container-all ul {
    width: 100%;
}
.container-all {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 101px;
    width: 100%;
    align-items: center;
    background-color: #333333;
}

.container-links {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: "Inria Sans", sans-serif;
    text-align: center;
    color: #FFFFFF;
    gap: 2rem;
}

.container-nav{
    display: flex;
    gap:  5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 200;
    font-size: 20px;
    height: 100%;
}

.container-profile a {
    padding-right: 40px;
}