.container-body{
    background-color: 161414;
    height: 100vh;
    width: 100%;
    font-family: "Inria Sans", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #161414;
    font-weight: bold;
    font-size: 20;
}

.container-header{
    padding-top: 40px;
    display: flex;
    height: 20%;
    width: 100%;
}

.container-header p {
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: "Inria Sans", sans-serif;
}

.container-content{
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 40px 20px 40px ;
    gap: 2rem;
}

.container-anime,
.container-manga {
    color: white;
    font-family: "Inria Sans", sans-serif;
    display: flex;
    flex-direction: column; /* Stack title above images */
    height: 50%;
    margin-bottom: 2rem; /* Space between anime and manga sections */
}

.container-anime h1,
.container-manga h1 {
    font-size: 24px; /* Adjust font size for titles */
    margin-bottom: 1rem; /* Space below the title */
}

.container-anime-images,
.container-manga-images {
    display: flex; /* Align images in a row */
    flex-wrap: wrap; /* Allow wrapping if there are too many images */
    gap: 1rem; /* Space between images */
}

.container-anime-images div,
.container-manga-images div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
}

.container-anime-images img,
.container-manga-images img {
    max-width: 100px; /* Adjust as needed */
    height: auto;
    margin-bottom: 0.5rem; /* Space between image and title */
}


.container-header{
    display: flex;
    justify-content: space-evenly;
}

.container-header input {
    border-radius: 10px;
    width: 256px;
    height: 48px;
}

.container-header p {
    color: white;
}