.container-all {
    display: flex;
    flex-direction: column;
    background-color: #161414;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-form {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 568px;
    width: 80%; 
    max-width: 399px;
    background-color: #333333;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.container-form small {
    color: white;
}

.container-form h1 {
    color: #FFFFFF; 
    font-size: 2.4rem;
    font-family: 'Inria Sans';
    margin-bottom: 24px;
}

.container-form button {
    color: #FFFFFF; 
    background-color: #296990; 
    width: 98px;
    height: 37px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer; 
}

.container-input {
    width: 70%; 
    max-width: 319px; 
    font-size: 14px;
    display: flex;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(var(--color-text-lighter));
    padding: 0 10px; 
}

.container-form a {
    color: rgb(var(--color-blue));
}

.container-small a {
    color: #296990; 
}

.container-small{
    margin-top: 100px;
}
